.App {
  text-align: center;
}

:root {
  --primary-dark-color : rgb(22, 48, 100);
  --second-dark-color: rgb(59, 82, 126);

  --primary-light-color: #fcffff;
  --primary-light-color-trasparent:#fcfffff5;
  --second-light-color: #ADB9CA;


  --primary-colorful-color: #3EAD7A;
  --primary-colorful-color-transparent: rgba(214, 92, 16, 0.616);
  --second-colorful-color: #038C8C;
  --third-colorful-color: #03A696;

  --white-mask-color:#ffffff9c;
}

/*fonts*/
@font-face { font-family: Main-Light; src: url('./fonts/static/OpenSans/OpenSans-Light.ttf') }
@font-face { font-family: Main-Normal; src: url('./fonts/static/OpenSans/OpenSans-Medium.ttf') }
@font-face { font-family: Main-SemiBold; src: url('./fonts/static/OpenSans/OpenSans-SemiBold.ttf') }
@font-face { font-family: Main-Bold; src: url('./fonts/static/OpenSans/OpenSans-Bold.ttf') }
@font-face { font-family: Main-Italic; src: url('./fonts/static/OpenSans/OpenSans-LightItalic.ttf') }

@font-face { font-family: Second-Light; src: url('./fonts/static/OpenSans/OpenSans-Light.ttf') }
@font-face { font-family: Second-Normal; src: url('./fonts/static/OpenSans/OpenSans-Medium.ttf') }
@font-face { font-family: Second-SemiBold; src: url('./fonts/static/OpenSans/OpenSans-SemiBold.ttf') }
@font-face { font-family: Second-Bold; src: url('./fonts/static/OpenSans/OpenSans-Bold.ttf') }
@font-face { font-family: Second-Italic; src: url('./fonts/static/OpenSans/OpenSans-LightItalic.ttf') }
.cv-container {
  height: 29.7cm;
  width: 21.0cm;

  padding:0.5cm;

  border:1pt solid #163064b3;

  font-family:Main-Light;
  
}

.title-container{
  font-family:Main-Normal;
}

.title-container-3{
  display:grid;
  grid-template-columns: 12% [logo-init] 23% [logo-end] 3% [text-init] 3% [mail-init] 45% [text-end] 12% [mail-end];

  align-items: center;

  
}

.title-box{
  grid-column: text-init / text-end;

  color: var(--primary-dark-color);
}

.title-box-1{
  border-right: 6pt solid var(--primary-dark-color);
  margin-right: 0.5cm;
}

.title-box-2{
  border-right: 5pt solid var(--primary-dark-color);
  margin-right: 0.5cm;
  
  margin-left: 0.5cm;

  border-top: 5pt solid var(--primary-dark-color);
  margin-top: 0.3cm;
}


.logo-container{
  grid-column: logo-init / logo-end;

  right: left;

  margin: 0cm auto;
}


.container-1{
  position: relative;
  left: 0cm;
  margin:0 auto;

  height:100%;

  column-count: 2;
}



.container-2 {
  /* border: 1pt solid #203051; */
  -webkit-column-break-inside: avoid;
}

.container-4 {
  margin:0.3cm 0;
}

h1{
  max-width: 60%;
  margin:0 auto;
  padding-bottom:0.2cm;
}

h2{
  width: fit-content;
  max-width: 60%;
  margin:0.4cm auto 0.4cm auto;
}

h3{
  margin:0.1cm auto;
}

h4{
  margin:0cm auto;

  width: fit-content;
}

.body{
  margin:0.1cm auto;
}
.date{
  margin:0.1cm auto;

  font-style: italic;
  color:#4e535e;
}

p{
  margin:0.1cm auto;
  
  width:70%;

  font-size: small;
}

/*defined styles*/
.style-list{
  display:grid;
  grid-template-columns: repeat(3, 30%);
}

.style-list h4{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight:300;
  font-size:small;
}

.style-time-line{
  margin-right: 0.5cm;

  border-right: 2pt solid var(--second-light-color);
}


.style-time-line .container-4{
  display:grid;
  grid-template-columns: [text-init] 85% [text-end]  7% [date-mark-init] 5% [date-mark-end];
  grid-template-rows: [first-row-line] 20% [second-row-line];

  align-items: center;
  justify-content: rigth;
}
.style-time-line .container-4 *{
  margin: 0 auto;
  grid-column: text-init / text-end;
}
.style-time-line p{
  width:90%;
}

.date-container{
  width: 100%;
}
.style-time-line .date-mark{
  
  grid-column: date-mark-init / date-mark-end;
  grid-row:first-row-line / second-row-line;

  width: 0.3cm;
  height: 0.2cm;

  /*border-top:2pt solid var(--second-dark-color);*/
  border-right:2pt solid var(--second-dark-color);
  /*background-color: var(--second-dark-color);*/

  width: 0.3cm;
  height: 0.3cm;

  border-radius: 100%;
  border:3pt solid var(--primary-dark-color);
}

/* .flex-container{
  display:flex;
  justify-content: space-between;
} */

.logo {

  width: auto;
  height:1.5cm;

  margin-right:0.2cm;
  margin-top:0.2cm;

  background-size: contain;
}

.style-contact-list .logo{
  height: auto;
  width: auto;

  max-height: 1.5cm;
  max-width: 1.5cm;

  background-size:contain;
}

.experience-lines-container{
  position: relative;
  margin: 0.1cm auto;

  height:fit-content;
  width:2cm;

}

.experience-lines-container *{
  position:absolute;

  border-bottom: 2pt solid var(--second-light-color);
}

.background-line{
  height: auto;
  width:100%;
}

.experience-line{
  border-bottom-color: var(--primary-colorful-color);
}



/*main photo style*/
.photo-container .logo{

  height:3cm;
  width: auto;

  margin:0;
}

/* contact info style*/


.style-contact-list .title-container .title-box{
  margin:0.1cm;

  right:0;
  
  grid-column: mail-init / mail-end;

}













@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
